

<div class="list-group-item list-group-item-action d-flex align-items-center ripple">

    <%= image_tag(image_link, 
    :class => "rounded mr-3") %>
    <strong style = 'margin-left:10px;'><%=name%></strong>

</div>