
<h1 class = 'd-flex justify-content-center' style = 'margin-top:80px;'>Requests</h1>


<div class = 'd-flex justify-content-center'>
  <div style = 'width:75%;'>
    <strong><h2 class='m-2' style='font-size:150%;'>Sent Requests</h2></strong>
  </div>
</div>

<% @sent_requests = Request.all.where(buyer: current_user.id) %>
<%= render 'requests/render_requests', :@requests => @sent_requests%>

<div class = 'd-flex justify-content-center'>
  <div style = 'width:75%;'>
    <strong><h2 class='m-2' style='font-size:150%;'>Received Requests</h2></strong>
  </div>
</div>

<% @received_requests = Request.all.where(owner: current_user.id) %>

<%= render 'requests/render_requests', :@requests => @received_requests%>

<% for request in @received_requests %>
  <% request.update(viewed: 'true') %>
<% end %>
